@import "tailwindcss";

.circle1{
  position: absolute;
  bottom: -0%;
  left: -7%;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 200px #f46641;
  background: linear-gradient(-25deg, #8c8f41, #f46641);
  animation: circleAnimate1 15s infinite; 
}
.circle2{
  position: absolute;
  top: 10%;
  right: 0%;
  border-radius: 50%;
  box-shadow: 0 0px 200px #8B7BCF;
  background: linear-gradient(-25deg, #8B7BCF, #37739f);
  animation: circleAnimate2 15s infinite;
}

/* @keyframes circleAnimate1 {
  10% {
    left: 0%;
    bottom: 1%;
  }
  20% {
    left: 5%;
    bottom: 5%;
  }
  80%{
    left: 7%;
    bottom: 7%;
  }
} 

@keyframes circleAnimate2 {
  7% {
    right: 10%;
    top: 12%;
  }
  20% {
    right: 5%;
    top: 15%;
  }
  80%{
    right: 3%;
    top: 18%
  }
} */

.gradient {
  background: linear-gradient(to right, #9DE8EE, #9DE8EE, #FA7C0B, #9F8CED); /* Orange to Light Blue */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Important for proper clipping */
}
.hide-scroll::-webkit-scrollbar{
  display: none;
}
